.priority{
    color: WHITE;
    padding: 4px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 100px !important;
}

.miniCell{
    background-color: #DFE0EB;
    border-bottom: 1px groove;
}
