
@mixin inputField($width,$height,$font-size) {
    width: $width;
    height: $height;
    font-size: $font-size;
    border-radius: 8px;
    outline: none;
    border: none;
    color:#ffffff;
    font-family: 'Mulish', sans-serif;;
}

.inputField_login{
    @include inputField(316px,42px,14px)
}

.inputField_standard{
    @include inputField(229px,24.8px,20px)
}


.showPasswordButton{
    border: none;
    background-color: #e7e7e7; 
    color: black;
}


.invalidPasswordText{
    color:red;
    font-size: 14px;
    padding-top: 4%;
}