.row:after {
  content: "";
  display: table;
  clear: both;
  position: relative;
}

.leftCol {
  float: left;
  width: 50%;
}

.rightCol {
  float: left;
  width: 50%;
  padding-left: 2%;
}

.status {
  color: white;
  padding: 4px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 100px !important;
}

.alignButtonRight {
  padding-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.statusPadding {
  padding-top: 10%;
  padding-left: 60%;
  margin-left: auto;
  margin-right: 0;
}


.statusCard {
  color: white;
  font-family: 'Mulish', sans-serif;
  height: 60px;
  padding: 10px;
  text-align: center;
  border-radius: 25px;
}

.container {
  display: flex;
  gap: 40px;
}

.card {
  width: 700px;
  max-height: 100%;
  background-color: #ffffff;
  margin: 50px auto;
  border-radius: 8px;
  padding: 20px 30px;
}

.cardDetails {
  display: flex;
  flex-direction: row;
}