.navheader{
  position:sticky;
  top:0;
  z-index: 10;
}

.nav {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgb(55,54,66);
  width: max-content;

}
.nav_welcome{
  width: 200px;
  padding-left: 20px;
  padding-bottom: 10px;
}
.nav_card{
  width: 230px;
}
.nav_items{
  padding:20px;
  width: 200px;
  height: 50px;
  display: flex;
  flex-direction: row;
  margin-left: 5px;
  align-items: center;
}
.nav_card_btm{
  position: absolute;
  bottom: 0px;
}
.nav_card:hover{
  background-color: #9FA2B4;
}
.nav_txt{
  padding-left:10px;
}
.logo {
  width: 230px;
  padding: 5px;
  display: flex;
  align-items: center;
  height: 70px;
}
.nav_menu-bar{
  display:flex;
  flex-direction: column;
  row-gap:1px;
}

.nav-menu-bar div{
  width:40px;
  height:6px;
  background-color: black;
  border-radius: 2px;
}
.nav_menu_list {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: initial;
  right: 0;
  min-height: calc(100vh - 60px);
  color: #DDE2FF;
}
.nav_icon{
  display: flex;
}
.nav_link {
  font-size: 14px;
  position: relative;
}
