$background-color: #363740;


.row:after {
    content: "";
    display: table;
    clear: both;
    position: relative;
}

.leftCol {
    float: left;
    width: 25%;
}

.rightCol {
    float: right;
    width: 75%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.centerText {
    text-align: center;
}

.centerComponent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    background-color: #F7F8FC;
    position: absolute;
    width: 100%;
    min-height: 100%;
    padding-top: 60px;
}

.main {
    margin-left: 230px;
    padding: 0px 10px;
}