$background-color:#363740;



.loginBackground{
    background-color:$background-color ;
    margin: 0px;
    padding: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    position: relative;
  }

.leftCol{
    float: left;
    width: 25%;
}

.rightCol{
    float: left;
    width: 75%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.centerText{
    text-align: center;
}

.centerComponent{
    display: flex;
    justify-content: center;
    align-items: center;
}