html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header{
  position:sticky;
  top:0;
  z-index: 10;
}


.nav {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgb(55,54,66);
  width: max-content;

}
.nav_card{
  width: 280px;
}
.nav_items{
  padding:24px;
  width: 200px;
  height: 60px;
  display: flex;
  flex-direction: row;
  margin-left: 5px;
  align-items: center;
}
.nav_card_btm{
  position: absolute;
  bottom: 10px;
}
.nav_card:hover{
  background-color: #9FA2B4;
}
.nav_txt{
  padding-left:10px;
}
.logo {
  padding: 15px;
  height: 70px;
}
.nav_menu-bar{
  display:flex;
  flex-direction: column;
  row-gap:4px;
}

.nav-menu-bar div{
  width:40px;
  height:6px;
  background-color: black;
  border-radius: 2px;
}
.nav_menu-list {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: initial;
  right: 0;
  min-height: calc(100vh - 60px);
  color: #DDE2FF;
}

.nav_link {
  font-size: 16px;
  position: relative;
}

.nav_link:hover::before{
  width: 100%;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
